h5 {
  font-size: 50px;
}
.card-header {
  font-size: 32px;
  font-weight: 400;
}

.card {
  margin-top: 10px;
}

button {
  display: inline;
  font-size: 20px;
  margin-top: 10px;
  box-shadow: none;
}

#search-form {
  font-size: 20px;
  margin-top: 10px;
  box-shadow: none;
  display: inline;
}

p {
  text-align: center;
  margin: 0 auto;
}

.description:first-letter {
  text-transform: capitalize;
}

#weather-current-icon {
  text-align: right;
}

#display-current-weather {
  margin-top: 20px;
  margin-bottom: 15px;
}
footer {
  font-size: 10px;
  text-align: center;
  margin: 0 auto;
  font-family: cursive;
  color: #385170;
}

#tryAgain {
  font-size: 16px;
}
